.parent{
    background-color: orangered;
    height: 1000px;
    width: 1200px;

}

.child{
    background-color: palegoldenrod;
    height: 200px;
    width: 300px;
    transition: transform 4s ease;
}
.parent:hover .child{
    /* animation: 5s; */
    animation: left-right;
    transform:translateY(100px);

}

@keyframes left-right{
    20%{
        background-color: blanchedalmond;
    }

    40%{
background-color: blue;

    }

    75%{
        background-color: crimson;
    }
    100%{
        background-color: darkgray;
    }
}