
img:hover{
    display: none;
    background-image: url('https://cdn.pixabay.com/photo/2020/09/06/14/07/biryani-5549075__340.jpg');
border: 2px solid black;
height: 200px;
width: 200px;
}

p::first-line{
color: rgb(62, 163, 150);
}
p::after{
    content: '.....?';
}
/* div{
    display: none;

} */


a:link{
    color: brown;
}

a:visited{
    color: green;
}
a:hover{
    color: hotpink;
}
a:active{

    color: indigo;
}


