h1{
    color: burlywood;
}
h2{
    color: crimson;
}

h3{
    color: brown;
}

*{
    color: darkgreen;
}
a[target]{
    color: darkgrey;
}
/* .ola{
    color: darkorange;
} */
h1,h2,h3,h4{
    color: blue;
}


#center{
    /* text-decoration: none; */
    /* text-align: left; */
     text-align: center;
display: flex;

}